{% extends 'base.html'%} {% block content %}

<div class="card-panel center-align">


<h3>Please get in touch</h3>
<div class="row">
    <div class="col s16 m4 l4"><p></p></div>
    <div class="col s6 m4 l5">
   
  
     <div class="center-align">

                  <form action="https://formspree.io/xgeoagbb" method="POST">


                        <input type="text" name="_name" class="form-control" id="fullname" placeholder="Name" required /><br><br>
                        <input type="emailaddress" name="_replyto" class="form-control" id="emailaddress" placeholder="Email" required /><br><br>
                        <input type="phone" name="_phone" class="form-control" id="phone" placeholder="Phone" required /><br><br>
                        <textarea rows="5" name="_message" class="form-control" id="projectsummary" placeholder="Message" required></textarea><br><br>
                        <input type="hidden" name="_next" value="{{url_for('get_sent')}}" /><br><br>
                        <br><button type="primary" class="btn btn-success center-block">Send</button>

                  </form>
                  </div>
 <div class="col s12 m4 l2"><p></p></div>

            </div>
        </div>   
     </div>
  </div>



{% endblock %}
