{% extends 'base.html'%} {% block content %}
<div class="row">
<div class="col s12 center-align">
<h3>Please get in touch</h3>
</div>
</div>
   <div class="row">
  <div class="col s6 offset-s3">
        <div class="input-field">
        <form action="https://formspree.io/mlenevdl" method="POST">
        <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input placeholder="Name" id="name" type="text" class="validate">
          <label for="icon_prefix"></label>
        
          <i class="material-icons prefix"></i>
          <input placeholder="Telehone Number" id="telephone" type="tel" class="validate">
          <label for="telephone"></label>

           <i class="material-icons prefix">phone</i>
          <input placeholder="Email" id="email" type="email" class="validate">
          <label for="email"></label>
  
          <textarea placeholder="Message" id="message" class="materialize-textarea"></textarea>
          <label for="message">Textarea</label>
        </div>
      </div>
          <input type="hidden" name="_next" value="{{url_for('get_sent')}}" /><br><br>
         <br><button type="primary" class="btn btn-success center-block">Send</button>
                  </form>


            </div>
        </div>   
     </div>
  </div>



{% endblock %}
