{% extends 'base.html'%} {% block content %}
<h3>Podcast Management</h3>

<div class="row">
  <div class="col s6">
     <div class="card-panel grey lighten-1">
<p>Please enter your account details to continue.<br></p>

<form>
    <input type="text" placeholder="Username" id="text1" /><br />
    <input type="password" placeholder="Password" id="text2" /><br />
    <input type="button" value="Login"  onclick="javascript:validate()" />
</form>
<script type="text/javascript">
function validate()
{
    if(   document.getElementById("text1").value == "admin"
       && document.getElementById("text2").value == "admin" )
    {
        location.href="{{url_for('get_manage')}}";
    }
    else
    {
        alert( "You have entered incorrect details please try again." );
        location.href="{{url_for('get_gatekeeper')}}";
    }
}
</script>

<p><br>If you would like to gain access please contact me.</p>

     </div>
  </div>
  </div>
  </div>




{% endblock %}
