{% extends 'base.html'%} {% block content %}
<div class="card-panel center-align">


<h3>Podcast Management</h3>

  <div class="col s16 m4 l3"><p></p></div>
    <div class="col s6 m3 l5">
<p>Please enter your account details to continue.<br></p>

   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="username" type="text" class="validate">
          <label for="first_name">User Name</label>
        </div>
      </div>
    </div>
        
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="password" type="text" class="validate">
          <label for="first_name">Password</label>
        </div>       

<form>
  
    <input type="button" value="Login"  onclick="javascript:validate()" />
</form>
<script type="text/javascript">
function validate()
{
    if(   document.getElementById("username").value == "admin"
       && document.getElementById("password").value == "admin" )
    {
        location.href="{{url_for('get_manage')}}";
    }
    else
    {
        alert( "You have entered incorrect details please try again." );
        location.href="{{url_for('get_gatekeeper')}}";
    }
}
</script>

<p><br>If you would like to gain access please contact me.</p>

     </div>
  </div>
  </div>
   <div class="col s12 m4 l2"><p></p></div>




{% endblock %}
