{% extends 'base.html'%} {% block content %}
<div class="card-panel center-align">


<h3>Podcast Management</h3>

  <div class="col s16 m4 l3"><p></p></div>
    <div class="col s6 m3 l5">
<p>Please enter your account details to continue.<br></p>

  <div class="col s6 m3 l3">

<form>
    <input type="text" size="20" maxsize="20" placeholder="Username" id="text1" />
    <input type="password" size="20"maxsize="20"  placeholder="Password" id="text2" />  
    <input type="button" value="Login"  onclick="javascript:validate()" />
</form>
<script type="text/javascript">
function validate()
{
    if(   document.getElementById("text1").value == "admin"
       && document.getElementById("text2").value == "admin" )
    {
        location.href="{{url_for('get_manage')}}";
    }
    else
    {
        alert( "You have entered incorrect details please try again." );
        location.href="{{url_for('get_gatekeeper')}}";
    }
}
</script>

<p><br>If you would like to gain access please contact me.</p>

     </div>
  </div>
  </div>
   <div class="col s12 m4 l2"><p></p></div>




{% endblock %}
