{% extends 'base.html'%} {% block content %}

<div class="row">
    <div class="col s12 center-align">
        <h3>Recommended Podcasts</h3>
    </div>
</div>

{% for podcast in podcasts %}
<div class="row">
    <div class="col s2">
        <div class="card-panel grey lighten-1">
            <ul>
                <li><img src="{{podcast.podcast_image}}" alt="Podcast Image" style="width:100px;height:100px;"></li>
                      <li>{{podcast.podcast_name}}</li>
                              <br>
                    <a href="{{url_for('get_details', podcast_id=podcast._id)}}" class="waves-effect waves-light btn btn_small green">more</a>
        </div>
    </div>

    {% endfor %} {% endblock %}
